<!-- {% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>We Are The Asteroid</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{% static 'css/indexStyling/styles.css' %}">
</head>

<body>
  <script src="{% static 'js/main.js' %}"></script>
</body> -->

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nidhi Software</title>

  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

  <h1>Start With your home Page layout I'll do Login amd pair up with django admin</h1>

  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>